//Core tokens
:root {
  --font-sans: Roboto, sans-serif;

  //Color Palette
  --color-text: #37352f;
  --color-primary: #11151c;
  --color-secondary: #212d40;
  --color-tertiary: #778da9;
  --color-accent: #3c6e71;

  --color-white: #ffffff;

  --color-background: var(--color-white);
}

//Sidebar
:root {
  --sidebar-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1) inset;
}
